name: lint

on:
  workflow_call:

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Lint code
        run: |
          az bicep build --file bicep/main.bicep
